/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
} 
 
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center
}

.nav-right ul li {
    list-style: none;
    display: inline-block;
    margin-top: 15px;
}

    .nav-right ul li img {
        width: 28px;
        margin: 0 15px;
    }



   /* Coongdoit*/
body {
    
    margin-bottom: 60px;
}
.comment-box {
    background: #efefef;
    width: 600px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.comment-box img {
    width: 12px;
}

    .comment-box input {
        width: 100%;
        background: transparent;
        padding: 6px;
        outline: none;
        border: 0;
    }
    
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;  
}

nav {
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    /*background: #00a6a7;*/
    background-image: linear-gradient(to right,#8262a0,#43ac8a);
    padding: 5px 5%;
}

navbar {
    position: fixed;
    top: 0;
    width: 100%;
    
}


.logo {
    width: 120px;
    margin-right: 45px;
}

.nav-user-icon img {
    width: 40px;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.nav-user-icon {
    margin-left: 30px;
}



.search-box {
    background: #efefef;
    width: 600px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

    .search-box img {
        width: 18px;
    }
     
    .search-box input {
        width: 100%;
        background: transparent;
        padding: 6px;
        outline: none;
        border: 0;
    }

.online {
    position: relative;
}

    .online::after {
        content: '';
        width: 10px;
        height: 10px;
        border: 2px solid #fff;
        border-radius: 50%;
        background: #41db51;
        position: absolute;
        top: 1px;
        right: 1px;
    }

/*.sidebar {
    width: 25%;
    height: 25vh;
    
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
}*/
