@using Enterprisev2.ViewModels
@model RegisterControllers
@{
    ViewData["Title"] = "Register Page";
}

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form asp-action="Register">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <input class="form-control"
                                           asp-for="FullName" placeholder="Username" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <input class="form-control"
                                           asp-for="EmailAddress" placeholder="Email Address" autocomplete="off">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input class="form-control"
                                               asp-for="Password" placeholder="Password" autocomplete="off">
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="form-control"
                                               asp-for="ConfirmPassword" placeholder="Repeat Password" autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group">
                                <input class="btn btn-primary btn-user btn-block" type="submit" value="Register Account" />
                                    
                                </div>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" asp-action="Login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
